.idea
.gitignore
.git
renovate.json
ui/node_modules
ui/.next
ui/.pnp
ui/.pnp.js
ui/.pnpm-store
ui/coverage
ui/out
ui/build
ui/.DS_Store
ui/*.pem
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/pnpm-debug.log*
ui/.env*.local
ui/.vercel
ui/*.tsbuildinfo
ui/next-env.d.ts
